*{
    padding: 0;
    margin: 0;
}
body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color :#fff;
    font-family :Serif;
    font-size :10pt;
}
@page { /* Modifications : suppression de la bordure - marges */
    /*page-break-inside : avoid;*/
    page-break-after: always;
    page-break-before: always;
      size: landscape;

}
#page { /* Modifications : suppression de la bordure - marges */

}
div.col-md-12{
    /*
    width: 25cm;
    margin: 1cm 1cm;
    float: left;
    */

}
form div.row div.col-md-12 div.card div.card-body{
    padding: 0;
}
#bootstrap-data-table1_wrapper div.row div.col-sm-12{
    padding: 0;
}
#bootstrap-data-table2_wrapper div.row div.col-sm-12{
    padding: 0;
}
div.row div.col-md-12{
    padding: 0;
}
form div.row div.col-md-12 div.card div.card-header.risk {
    background-color: red!important;
    color:white ;
}
.opportunite {
    background-color: #00bf8f;
}


table {
    page-break-inside:auto;
    border-collapse: collapse;
}
tr    { page-break-inside:avoid; page-break-after:auto }

th, td{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.1cm;
}
.tablee{
    width: 100%;
    border:1px;
}
table.tablee th td {
    width: 100%;
    border:  none;
}
table.tablee tbody tr th:first-child{
    border-top:none;
    border-left: none;
    border-bottom: none;
}
#espceinutile{
    border-top:none;
    border-left: none;
    border-bottom: none;
}
#colopportunite{
    border:1px;
}
#bootstrap-data-table2,#bootstrap-data-table1{
    width: 100%!important;
}
div.row.break{
        page-break-after:always;
        page-break-before:always;
    clear: both;
    display: block;
}
.ne_pas_afficher{
    display: none;
}
input
{
    border: none;
    width: inherit;
}
.logo_eiffage{
    display: block!important;
}
div.page-title h1{
    text-align: center;
    font-size: 15pt;
    margin-bottom: 1cm;
}