body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color :#fff;
    font-family :Serif;
    font-size :10pt;
}

#page { /* Modifications : suppression de la bordure - marges */
    margin: 2%;
    border :none;

}

#banner, #menuright, #footer { /* Les éléments qui ne seront pas affichés  */
    display :none;
}

h1#top { /* Affichage du titre */
    margin :0;
    padding :0;
    text-indent :0;
    line-height :25pt;
    font-size :25pt;
    text-align: center;
}

h2, h3, #contenu h3, #contenu a, a { /* Modification de la couleur des titres et liens */
    color :#000;
    text-align: center;

}
h2{
    font-size: 1em;
}
header,nav,aside,#ne_pas_afficher,.ne_pas_afficher,#btnprint{display: none;}

card{background-color: transparent !important; border: none !important;}
.logo_eiffage{
    display: block !important;
}

.copyright{
    display: none;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
.tablee,th, td{border:  1px solid black!important;
    border-collapse: collapse; width: 100%;
    text-align: center;}